:root {
    --yellow: #fffd1d;
    --cultured: #f8f9f8;
    --tart-orange: #fe312e;
    --ultra-red: #fe7d93;
    --dark-jungle-green: #0b1b1a;
}

/* Para acceder al valor de una propiedad personalizada usamos el nombre
de la propiedad dentro de la función var(), en lugar de cualquier otro valor normal.

Por ejemplo:

body {
    color: var(--yellow);
}

pondrá todo el texto del body como: #fffd1d */

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reglas CSS para especificar las familias seleccionadas

font-family: 'Mountains of Christmas', cursive;
font-family: 'Roboto', sans-serif; */


body {
    background-color: var(--cultured);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Mountains of Christmas", cursive;
}

#bg-image {
    /* background: var(--ultra-red) url(/assets/img/navidad.jpeg) center no-repeat; */
    background-size: cover;
    height:40vh;
}

.wrap {
    position: relative;
}

.wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(/assets/img/navidad.jpeg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.content {
    position:relative;
}

.reduction-limit {
    min-width: 50px;
}

.yellow-text {
    color:var(--yellow)
}

.yellow-back {
    background-color:var(--yellow)
}
    
.cultured-text {
    color:var(--cultured)
}

.cultured-back {
    background-color:var(--cultured)
}

.tart-orange-text {
    color:var(--tart-orange)
}

.tart-orange-back {
    background-color:var(--tart-orange)
}
    
.ultra-red-text {
    color:var(--ultra-red)
}
    
.dark-jungle-green-text {
    color:var(--dark-jungle-green)
}

.mountain-of-xmas {
    font-family: 'Mountains of Christmas', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.separator {
    background-color: var(--dark-jungle-green);
    height:5px;
    width:100%;

}

.container-fluid {
    overflow: hidden;
}
/* Section, Article and Aside */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main-content {
    font-size: 28px;
    text-align: justify;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
  }